// COLORS
$grey-color: #333;
$light-grey: #fafafa;
$white-color: rgba(250,250,250,.9);
$light-color: #aaa;
$light-grey-border: darken($light-grey,10%);


// PADDING
$pd-small: 1;
$pd-medium: 2;
$pd-large: 5;

// MARGIN
$mg-small: 1;
$mg-medium: 2;
$mg-large: 5;
